/* --------------- GENERAL --------------- */

.summary-body {
  font-family: 'Questrial', sans-serif;
  letter-spacing: 1.1px;
  margin: 30px;
  font-weight: 300;
  width: 350px;
  color: #000;
}

/* ---------------- TITLE ---------------- */

.summary-series {
  color: #929292;
  font-size: 11px;
  margin-bottom: 15px;
}

.summary-watch-name {
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 300;
}

.summary-price {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 10px;
  margin-top: 10px;
  font-weight: 400;
}
.summary-size {
  color: #222;
  font-weight: 800;
  font-size: .875rem;
  line-height: 1.767rem;
  letter-spacing: 0.5px;
  margin-top: 10px;
  padding-bottom: 5px;
}
.summary-size-mm {
  background-color: #F7F8F9;
  padding-top: 12px;
  border-radius: 50px;
  border: 1px black solid;
  width: 40px;
  height: 28px;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 20px;
}

/* -------------- STRAP OPTIONS -------------- */

.summary-strap-container {
  padding-top: 15px;
  font-size: 12px;
  font-weight: 400;
}

#summary-strap-guide {
  display: flex;
  font-weight: 100;
  font-size: 11px;
  align-items: center;
}
#summary-strap-guide:hover {
  cursor: pointer;
  color: #929292;
}
#summary-question-mark {
  height: 15px;
  padding-right: 5px;
}

.summary-strap-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.summary-strap-options-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  line-height: 1.1;
  color: #929292;
  padding-bottom: 30px;
}

.summary-strap-options:hover {
  color: black;
  cursor: pointer;
}

.summary-strap-image {
  height: 100px;
  margin-bottom: 7px;
} 

.summary-strap-price {
  font-weight: 100;
  padding-bottom: 2px;
}
.summary-strap-name {
  padding-bottom: 2px;
}

.summary-strap-checkbox {
  border-radius: 50px;
  border: 2px black solid;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-top: 8px;
}

/* -------------------- SELECTED -------------------- */

.summary-strap-price-selected {
  color: #51C96D;
  font-weight: 100;
  padding-bottom: 2px;
}
.summary-strap-name-selected {
  color: #51C96D;
  padding-bottom: 2px;
}
.summary-strap-checkbox-selected {
  border-radius: 50px;
  background-color: #51C96D;
  background-image: url("//s3.amazonaws.com/watch-straps/checkmark.png");
  background-size: contain;
  height: 19px;
  width: 19px;
  display: inline-block;
  margin-top: 8px;
}

.summary-selected-strap-names {
  font-size: 11px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-right: 8px;
  box-sizing: border-box;
  display: inline-block;
}

/* --------------- STRAP GUIDE MODAL --------------- */

.summary-strap-guide-modal {
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

.summary-strap-guide-images {
  display: flex;
  justify-content: space-around;
}

.summary-strap-guide-modal img {
  width: 200px;
}

.summary-strap-guide-modal h2 {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 28px;
}
.summary-strap-guide-info {
  color: #929292;
  font-size: 1rem;
  line-height: 1.545rem;
  margin: 1rem auto 1.5rem;
  max-width: 80%;
}
.summary-strap-step-title {
  font-size: 24px;
  letter-spacing: 2px;
  padding-top: 1rem;
  margin-bottom: 8px;
  font-weight: 400;
}
.summary-strap-step-instructions {
  font-size: 12px;
    max-width: 240px;
    line-height: 18px;
    letter-spacing: 0.5px;
}
/* --------------- ADD TO CART BUTTON --------------- */

.summary-cart {
  background-color: black;
  color: #fff;
  height: 38px;
  text-align: center;
  padding-top: 22px;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 3px;
  transition: background-color 0.25s ease-in-out;
}
.summary-cart:hover {
  cursor: pointer;
  background-color: #A40000;
}